body{
    background-color: white;
}

.imgs {
    width: 100%;
}

.menu {
    width: 80%;
    margin: auto;
}

.menu td {
    width: 50%;
    padding: 3em;
}

.menu p {
    color: black;
    font-size: 16px;
}

.menu img {
    width: 100%;
}

.header h2 {
    padding: 1%;
    margin: 0%;
    text-align: center;
    color: black;
}

.header {
    text-align: center;
    background-color: #28A745;
    padding: 2em;
    font-size: 20px;
}

.footer {
    height: 4em;
    line-height: 4em;
    background-color: #28A745;
    color: white;
    text-align: center;
    font-size: 100%;
}